{% extends 'MainService/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "/css/important_body.css"  %}">
<link rel="stylesheet" type="text/css" href="{% static "/css/tabs.css"  %}">
<link rel="stylesheet" type="text/css" href="{% static "/css/modal.css"  %}">
{% endblock %}

{% block page %}
<div class="wrapper__page">
  <section class="test _container">
    <div class="tabs">
      <div class="tabs__nav">
        <button class="tabs__btn tabs__btn_active" id="contacts">Контакты</button>
        <button class="tabs__btn" id="voting">Голосования</button>
      </div>
      <div class="tabs__content">
        <div class="tabs__pane tabs__pane_show">
          {% for any in anys %}
            <div class="block">
              <div class="block-title">
                {{ any.title }}
              </div>
              <div class="block-text">{{ any.comment }}</div>
              <div class="block-content">
                {% for any_contact in any.items %}
                  <div class="block-content-item">
                    <div class="content-item-key">{{ any_contact.key }}:</div>
                    <div class="content-item-value">{{ any_contact.value }}</div>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
          <div class="block">
            <div class="block-title">
              Старосты
            </div>
            <div class="block-content">
              <table>
                <tbody>
                  {% for chif in chifs %}
                    <tr>
                      <td class="block-sub-title">{{ chif.title }}</td>
                    </tr>
                    <tr>
                      {% if chif.comment %}
                      <td class="block-text">{{ chif.comment }}</td>
                      {% endif %}
                    </tr>
                    {% for contact in chif.items %}
                      <tr>
                        <td><a class="content-item-key">{{ contact.key }}</a><a>:</a></td>
                        <td>{{ contact.value }}</td>
                      </tr>
                    {% endfor %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="tabs__pane">
          {% if not votings %}
          <div class="block">
            <div class="block-title">Пока еще нет ни одного голосования</div>
          </div>
          {% endif %}
          {% for voting in votings %}
          <div class="block">
            <div class="block-title">{{ voting.title }}</div>
            <div class="block-text">{{ voting.comment }}</div>
            <div class="block-voting voting" id="{{ voting.id }} {{ voting.is_disabled }}">
              {% for voting_item in voting.voting_items %}
              <div class="voting-item">
                <input type="radio" id="{{ voting_item.id }}" name={{ voting.id }} value="all" class="voting-check">
                <div class="voting-body">
                  <div class="voting-title">{{ voting_item.name }}</div>
                  <div class="voting-progress-base">
                    <div class="voting-progress" style="width: {{ voting_item.voting_persent }}%"></div>
                  </div>
                </div>
                <div class="voting-persent">{{ voting_item.voting_persent }}%</div>
                <div class="voting-piople">{{ voting_item.voting_piople }}</div>
              </div>
              {% endfor %}
              <div class="voting-summ">
                <span>Всего проголосовало: </span><span>{{ voting.total_count }}.</span>
              </div>
              <div class="voting-summ">
                <span>Дата окончания голосования: </span><span>{{ voting.finish_data }}</span>
              </div>
              <textarea id="{{ voting.id }}" placeholder = "Можете оставить комментарий" type="text" class="input textarea voting-comment"></textarea>
              <div class="voting-button">
                <button name={{ voting.id }} title="" class="button_control button_simple voting_send" {{ voting.is_disabled }}><span class="button_text">Проголосовать</span></button>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block js %}
<script src="{% static "/js/modal.js"  %}"></script>
<script src="{% static "/js/tabs.js"  %}"></script>
<script src="{% static "/js/voting.js"  %}"></script>
{% endblock %}