{% extends 'MainService/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "/css/main_body.css"  %}">
<link rel="stylesheet" type="text/css" href="{% static "/css/upload.css"  %}">
{% endblock %}

{% block page %}
{% comment %} <section class="page__main-block main-block">
  <div class="main-block__container _container">
    <div class="main-block__body">
      <h1 class="main-block__title">Котеджный поселок Толгоболь</h1>
    </div>
  </div>
  <div class="main-block__image _ibg">
    <img src="{% static "images/index/village.jpg"  %}" alt="cover">
  </div>
</section> {% endcomment %}
<section>
  <div class="news _container">
    <div class="news-title">
      Новости
    </div>
    {% for item in news %}
    <div class="appreciate__column">
      <div class="appreciate__item item-appreciate">
        <div class="time">{{ item.date }}</div>
        <div class="item-appreciate__wrapper-title wrapper-title">
          <h3 class="item-appreciate__title">{{ item.title }}</h3>
        </div>
        <div class="item-appreciate__text">{{ item.preview_text|safe }}</div>
        <a title="" class="button_control button_simple" id="{{ item.id }}" href="{{ item.url }}"><span class="button_text">Читать дальше</span></a>
      </div>
    </div>
    {% endfor %}

  </div>
</section>
{% endblock %}
{% block js %}
{% endblock %}