{% extends 'Forum/forum_base.html' %}

{% load static %}

{% block forum_css %}
<link rel="stylesheet" href="{% static "css/forum_post.css"  %}">
<link rel="stylesheet" href="{% static "css/upload.css"  %}">
<link rel="stylesheet" href="{% static "css/modal.css"  %}">
{% endblock %}

{% block forum_content %}
<a class="return" href="{% url 'forum' %}{{ section_id }}">
  <div class="arrow_2">
    <div></div>
  </div>
  <span>Назад</span>
</a>
<div class="message_area">
  <div class="post_wrapper" id="post_wrapper" name="{{ post_id }}">
    <div class="post post_none">
      <h1 class="post_title">{{ post.title }}</h1>
      <p class="post_text">{{ post.text }}</p>
      <div class="post_files">
        {% for i in post.files%}
        {% if i.is_img %}
        <a  src="{{ i.url }}" class="post_file" name="img_btn">{{ i.name|truncatechars:14 }}</a>
        {% else %}
        <a href="{{ i.url }}" class="post_file">{{ i.name }}</a>
        {% endif %}
        {% endfor %}
      </div>
      <div class="post_meta">
        <div class="post_author">{{ post.author }}</div>
        <div class="post_data">{{ post.date }}</div>
      </div>
    </div>
    <div class="post_options">
      {% if post.self %}
      <a href="" class="btn_post_update">Редактировать</a>
      {% endif %}
    </div>
  </div>

  {% if post.messages %}
    {% for sms in post.messages %}
      {% if sms.self %}
        <div class="post_wrapper post_wrapper_self">
          <div class="post post_self" id="{{ sms.id }}">

            {% if sms.related_message %}
            <div class="perent_wrapper" id="{{ sms.related_message.id }}">
              <div class="parent_text">
                {{ sms.related_message.text }}
              </div>
              <div class="parent_meta">
                <div class="post_author">{{ sms.related_message.author }}</div>
                <div class="post_data">{{ sms.related_message.date }}</div>
              </div>
            </div>
            {% endif %}

            <p class="post_text">{{ sms.text }}</p>
            <div class="post_files">
              {% for i in sms.files%}
              {% if i.is_img %}
              <a  src="{{ i.url }}" class="post_file" name="img_btn">{{ i.name|truncatechars:14 }}</a>
              {% else %}
              <a href="{{ i.url }}" class="post_file">{{ i.name|truncatechars:14 }}</a>
              {% endif %}
              {% endfor %}
            </div>
            <div class="post_meta" id='post_meta_self'>
              <div class="post_author" name='{{ sms.author_id }}'>{{ sms.author }}</div>
              {% if sms.date %}
              <div class="post_data">{{ sms.date }}</div>
              {% else %}
              <div class="post_data">Изменен {{ sms.update_date }}</div>
              {% endif %}
            </div>
          </div>
          <div class="post_options post_options_self">
            <div>
              <a class="btn_message btn_message_update">Редактировать</a>
            </div>
            <div>
              <a class="btn_message btn_message_delet">Удалить</a>
            </div>
          </div>
        </div>
      {% else %}
        <div class="post_wrapper post_wrapper_none">
          <div class="post post_none" id="{{ sms.id }}">

            {% if sms.related_message %}
            <div class="perent_wrapper" id="{{ sms.related_message.id }}">
              <div class="parent_text">
                {{ sms.related_message.text }}
              </div>
              <div class="parent_meta">
                <div class="post_author">{{ sms.related_message.author }}</div>
                <div class="post_data">{{ sms.related_message.date }}</div>
              </div>
            </div>
            {% endif %}

            <p class="post_text">{{ sms.text }}</p>
            <div class="post_files">
              {% for i in sms.files%}
              {% if i.is_img %}
              <a  src="{{ i.url }}" class="post_file" name="img_btn">{{ i.name|truncatechars:14 }}</a>
              {% else %}
              <a href="{{ i.url }}" class="post_file">{{ i.name|truncatechars:14 }}</a>
              {% endif %}
              {% endfor %}
            </div>
            <div class="post_meta" id='post_meta_self'>
              <div class="post_author" name='{{ sms.author_id }}'>{{ sms.author }}</div>
              {% if sms.date %}
              <div class="post_data">{{ sms.date }}</div>
              {% else %}
              <div class="post_data">Изменен {{ sms.update_date }}</div>
              {% endif %}
            </div>
          </div>
          <div class="post_options post_options_none">
            <a class="btn_message btn_message_answer" id="" name="{{ sms.id }}">Ответить</a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% else %}
  {% endif %}

</div>
    {% if user.is_authenticated %}
    <div class="output_wrapper">
      <div class="hide_panel">
        <button class="hight_btn" id="hight_btn">Свернуть</button>
      </div>
      <div class="output_panel open_panel" id="output_panel">
        <div class="output_message_options">
          <div>

            <div class="upload_block" >
              <form enctype="multipart/form-data" method="POST" action="">
                  {% csrf_token %}
                  <div class="upload_form_wrapper">
                    <div>
        
                      <label class="form-group">
        
                        <input name="file" type="file" class="main_input_file" id="fileupload" />
                        <div class="btn_output upload_btn">Прикрепить</div>
                      </label>
        
                    </div>
        
                    <div class="progres_wrapper">
        
                    </div>
        
                    
                  </div>
        
              </form>
            </div>

          </div>
          <div>
            <button class="btn_output" id="send_message">Отправить</button>
          </div>
        </div>
        <div class="input_text">
          <textarea class="output_message" name="" id="" placeholder="Введите сообщение" ></textarea>
        </div>
      </div>
    </div>
    {% endif %}




{% endblock %}

{% block forum_js %}
<script src="{% static "/js/forum_post.js"  %}"></script>
<script src="{% static "/js/upload_files.js"  %}"></script>
<script src="{% static "/js/modal.js"  %}"></script>
{% endblock %}