{% extends 'MainService/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/tabs.css" %}">
    <link rel="stylesheet" href="{% static "css/account_body.css" %}">
{% endblock %}

{% block page %}
<div class="wrapper__page">
  <section class="_container">
    <div class="account_page_wrapper">
      <div class="tabs__pane tabs__pane_show account__nav">
        <a href="account" class="button account_btn">Основные данные</a>
        <a href="security" class="button account_btn">Безопасность</a>
        <a href="logout" class="button account_btn">Выйти</a>
      </div>
      <div class="tabs__pane tabs__pane_show account__content">
        <div class="form-wrapper">
          <form action="" method="post" class="form-center">
            {% csrf_token %}
            <p>На этой странице вы сможете изменить смой пароль.</p>

            <input name={{ form.old_password.name }} class="input" id="{{ form.old_password.name }}" placeholder="Текущий пароль">
            {% if form.old_password.errors %}
            <p class="error_text">{{ form.old_password.errors }}</p>
            {% endif %}
            
            <input name={{ form.new_password1.name }} class="input" id="{{ form.new_password1.name }}" placeholder="Новый пароль">
            {% if form.old_password.errors %}
            <p class="error_text">{{ form.new_password1.errors }}</p>
            {% endif %}

            <input name={{ form.new_password2.name }} class="input" id="{{ form.new_password2.name }}" placeholder="Новый пароль">
            {% if form.old_password.errors %}
            <p class="error_text">{{ form.new_password2.errors }}</p>
            {% endif %}
            <button id="" type="submit" class="button" value="Submit">Изменить</button>
          </form>
        </div>
      </div>    
    </div>

  </section>
</div>
{% endblock %}
