@import "_config.scss";

.account_page_wrapper {
   display: flex;
   flex: 0 1 auto;
}

.account_btn {
   width:  200px;
}

.account__nav {
   flex: 0 0 250px;
   padding-top: 50px;
   padding-bottom: 50px;
   align-self: flex-start;
   text-align: center;
}
.account__content {
   flex: 0 1 100%;
   margin-left: 5px;
   padding-top: 50px;
   padding-bottom: 50px;
}
.fio {
   display: flex;
   flex-wrap: wrap;
}
@media (max-width: 520px) {
   .account_page_wrapper {
      flex-wrap: wrap;
   }
   .account__nav {
      flex: 0 0 100%;
      padding-top: 10px;
      padding-bottom: 10px;
   }
   .account__content {
      padding-top: 10px;
      padding-bottom: 10px;
   }
   
}